src/main/wsdl/CrmServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CrmServiceService" targetNamespace="http://crm.heroku.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://crm.heroku.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://crm.heroku.com/" elementFormDefault="unqualified" targetNamespace="http://crm.heroku.com/" version="1.0">
<xs:element name="getPaymentInfo" type="tns:getPaymentInfo"/>
<xs:element name="getPaymentInfoResponse" type="tns:getPaymentInfoResponse"/>
<xs:complexType name="getPaymentInfo">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getPaymentInfoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:payment"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="payment">
<xs:sequence>
<xs:element minOccurs="0" name="amount" type="xs:double"/>
<xs:element minOccurs="0" name="date" type="xs:dateTime"/>
<xs:element minOccurs="0" name="remark" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPaymentInfo">
    <wsdl:part name="parameters" element="tns:getPaymentInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentInfoResponse">
    <wsdl:part name="parameters" element="tns:getPaymentInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CrmService">
    <wsdl:operation name="getPaymentInfo">
      <wsdl:input name="getPaymentInfo" message="tns:getPaymentInfo">
    </wsdl:input>
      <wsdl:output name="getPaymentInfoResponse" message="tns:getPaymentInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CrmServiceServiceSoapBinding" type="tns:CrmService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPaymentInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPaymentInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrmServiceService">
    <wsdl:port name="CrmServicePort" binding="tns:CrmServiceServiceSoapBinding">
      <soap:address location="https://crm-bridge.herokuapp.com/payment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
